<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id nisi saepe maxime minus incidunt atque cum delectus perferendis laudantium, voluptatibus magni tempore a. Earum dolore consequuntur aliquid. Architecto, accusantium explicabo.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>